@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
<script>
    $(
        function () {
            var request = {}
            request.id = 1;
            $.ajax({
                url: 'https://localhost:44300/api/WeatherForecast/GetWeatherForecast',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: null,
                success: function (resp) {
                    console.log(resp);
                }
            })
        }
    )
</script>
